#aboutPage.page
  .hero-unit.hero-box-with-shadow
    .myH1 About
    p Doctor Pepe was created by Allan Apoj, Vidur Malik and Varun Singh, with all the beautiful designing done by Charis Loke. The team felt that free medical information and diagnosis tools were lacking in places that truly needed them. This is our attempt at fixing that problem, we hope you enjoy the website. 
    p Do you have feedback of any kind about the site (feature request, bug report, etc)? Use the tab on the left.
      br
      | Want to ask me about anything else? Email me at <a href='mailto:hello@transcription-hub.com'> hello@transcription-hub.com </a>
    p Copyright Disclaimer: Due to copyright laws, I unfortunately can only permit uploads of transcriptions of improvised jazz solos, not the heads or anything that is copyrighted. By uploading a transcription, you agree that the transcription was created entirely by yourself, by ear, or that you hold the rights to publish the material.
