#homePage.page
  .mainContent
    .row-fluid
      #introBox.introBoxes.span3
        #introBoxTopText.floatLeft
          | Intro text for symptom checker
        img#introDocImg(src='/images/doc.jpg', width='100').floatLeft
        #introDescription.inline
          b
            | Description goes here
          br
          | Second line onwards is back to regular weight. Brief instructions for the checker
        #introBtnGrp.btn-group.floatLeft
          #lookUpBtn.btn
            .btnText Look Up an Ailment
          #findClinicBtn.btn
            .btnText Find a Clinic
      #bodyBox.introBoxes.span5
        #chooseBodyTypeTxt Choose a Body Type
        #bodyImgs
          #maleImg.bodyImg.inline.floatLeft
            //
              div.inline(style='position: relative;')
                | Male
            img.inline(src='/images/malebody_generic_sm.png', width='100')
          #femaleImg.bodyImg.inline.floatLeft
            //
              div.inline(style='position: relative; top: 100px; left: 25px;')
                | Female
            img.inline(src='/images/femalebody_generic_sm.png', width='100')
