!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title= 'WebMD'
    meta(name='description', content='AAAAAA')
    meta(name='author', content='')

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')

    // stylesheets
    link(rel='stylesheet', type='text/css', href='/stylesheets/bs/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/myStyles.less.css')

    // js files
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-tooltip.js")
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-popover.js")
    script(type="text/javascript", src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js")
    script(type="text/javascript", src="/javascripts/validate.js")
    script(type='text/javascript', src='/javascripts/myUtil.js')
    script(type='text/javascript', src='/lib/parallaxjs/parallax.min.js')


    // Added dynamically in app or views
    -each cssScript in cssScripts
      link(rel='stylesheet', href= cssScript)
    -each script in scripts
      script(type='text/javascript', src= script)

    - if (typeof(user) !== 'undefined' && user && user.username)
      - userLoggedIn = true
    - else
      - userLoggedIn = false

    // Fonts
    //<script type="text/javascript" src="http://use.typekit.com/qvh7yaa.js"></script>
    //<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  body
    #entire-page
      #entire-page-minus-footer
        .navbar
          .navbar-inner
            .container-fluid
              a.brand(href='/')
                img#logoTopbar(src='/images/saxIcon.png', width=30, height=30)
                .text
                  | WebMD
              ul.nav
                li
                  a(href='/about') About
                li
                  a(href='/mission') What We Do
                  //script(type='text/javascript', src='/javascripts/login.js')
        != body
      #footer
        .inner.container-fluid
          .row-fluid
            .span6
              | Built with Node.js, Express, and MongoDB.
              a#footerFeedback(href='#') Feedback & Support
              | &nbsp
              a#footerPrivacy(href='/privacy') Privacy Policy
              br.inline
              &copy; 2012 Varun Singh

script(type='text/javascript')
  $(function() {
    // Make tabs active based on current page
    var a, b, c, d, e;
    d = $(".navbar-inner a"), e = [];
    for (b = 0, c = d.length; b < c; b++)
      a = d[b], e.push(function(a) {
      if (window.location.pathname === a.pathname)
        return $(a).parent().toggleClass("active")
      }(a));
      return e
  });
