!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title= 'WebMD'
    meta(name='description', content='AAAAAA')
    meta(name='author', content='')

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')

    // stylesheets
    link(rel='stylesheet', type='text/css', href='/stylesheets/bs/docs/assets/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/myStyles.less.css')

    // js files
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-tooltip.js")
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-popover.js")
    script(type="text/javascript", src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js")
    script(type="text/javascript", src="/javascripts/validate.js")
    script(type='text/javascript', src='/javascripts/myUtil.js')
    script(type='text/javascript', src='/lib/parallaxjs/parallax.js')


    // Added dynamically in app or views
    -each cssScript in cssScripts
      link(rel='stylesheet', href= cssScript)
    -each script in scripts
      script(type='text/javascript', src= script)

    - if (typeof(user) !== 'undefined' && user && user.username)
      - userLoggedIn = true
    - else
      - userLoggedIn = false

    // Fonts
    //<script type="text/javascript" src="http://use.typekit.com/qvh7yaa.js"></script>
    //<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  body
    #entire-page
      #entire-page-minus-footer
        .navbar
          .navbar-inner
            .container
              a.brand(href='/')
                img#logoTopbar(src='/images/saxIcon.png', width=30, height=30)
                .text
                  | WebMD
              ul.nav
                li
                  a.navButton(href='#home') Home
                li
                  a.navButton(href='#about') About
                //li
                  a.navButton(href='#mission') What We Do
                  //script(type='text/javascript', src='/javascripts/login.js')
        #pageContent
          != body
          include about
      #footer
        .inner.container-fluid
          .row-fluid
            .span6
              | Built with Node.js, Express, and MongoDB.
              a#footerFeedback(href='#') Feedback & Support
              | &nbsp
              a#footerPrivacy(href='/privacy') Privacy Policy
              br.inline
              &copy; 2012 Varun Singh

script(type='text/javascript')
  $(function() {

    //Parallax
    var p = parallax;
    // All the pages in order
    var pages = ['home', 'about'];
    pages.forEach(function(e) {
      p.add(e, $('#' + e + 'Page'));
    })
    function getCurrentPageIndex() {
      return pages.indexOf(p.current.key);
    };
    p.preload = function(thisPage) {
      $('#pageContent').height($($(thisPage.page).children()[0]).outerHeight(true));
      console.log($(thisPage.page));
      console.log($($(thisPage.page).children()[0]).outerHeight(true));
    }
    p.home.show();

    //Using arrow key navigation is super cool
    //most users find it very intuitive
    $(document).keydown(function(e){
      if (e.keyCode === 39) { //right
        // if not at the end
        if (getCurrentPageIndex() < (pages.length -1)) {
          var nextPage = pages[getCurrentPageIndex() + 1];
          p[nextPage].right();
        }
      }
      else if (e.keyCode === 37) { //left
        // if not at the end
        if (getCurrentPageIndex() > 0) {
          var nextPage = pages[getCurrentPageIndex() - 1];
          p[nextPage].left();
        }
      }
    }); //check out the code of this demo, it has arrow key navigation!
            //For reference; 38 - top, 39 - right, 40 - bottom

    //Before using .last either check to see if it's null
    if(typeof p.last === 'undefined'){
      //handle it here
      }
      //or set it before hand
      p.last = p.homepage;

    // content is position absolutely, which messes with layout
    // Have to set height of contents parent div
    // dynamically to ensure footer is at bottom
    $(window).resize(function() {
      $('#pageContent').height($($(p.current.page).children()[0]).outerHeight(true));
      //console.log($($(p.current.page).children()[0]).outerHeight(true));
    })

    // Make tabs active when clicked
    navbarLinks = $(".navbar-inner a");
    function selectOnClick(navLink) {
      navLink.click(function(e) {
        // deselect all others
        navLink.parent().parent().children().removeClass('active');
        // Select this one
        navLink.parent().toggleClass('active');
        // Scroll to the right page
        var navTitle = navLink.attr('href').substring(1)
        if (pages.indexOf(navTitle) < getCurrentPageIndex()) {
          p[navTitle].left();
        } else {
          p[navTitle].right();
        }
      });
    }
    for (var i = 0, l = navbarLinks.length; i < l; i++) {
      selectOnClick($(navbarLinks[i]));
    }
  });
