!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//[if gt IE 8]><!
html(class='no-js', lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title= 'WebMD'
    meta(name='description', content='Medical Information and Diagnosis Tool')
    meta(name='author', content='Dr. Pepe Inc')

    // Le fav and touch icons
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    //jquery
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')

    // stylesheets
    link(rel='stylesheet', type='text/css', href='/stylesheets/bs/docs/assets/css/bootstrap.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/myStyles.less.css')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/myStyles.less')
    script(src='lib/less-1.3.0.min.js', type='text/javascript')

    // js files
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-tooltip.js")
    script(type="text/javascript", src="/stylesheets/bs/js/bootstrap-popover.js")
    script(type="text/javascript", src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js")
    script(type="text/javascript", src="/javascripts/validate.js")
    script(type='text/javascript', src='/javascripts/myUtil.js')
    script(type='text/javascript', src='/lib/parallaxjs/parallax.js')


    // Added dynamically in app or views
    -each cssScript in cssScripts
      link(rel='stylesheet', href= cssScript)
    -each script in scripts
      script(type='text/javascript', src= script)

    - if (typeof(user) !== 'undefined' && user && user.username)
      - userLoggedIn = true
    - else
      - userLoggedIn = false

    // Fonts
    //<script type="text/javascript" src="http://use.typekit.com/qvh7yaa.js"></script>
    //<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  body
    #entire-page
      #entire-page-minus-footer
        .navbar
          .navbar-inner
            .container
              ul.nav
                li
                  a.navButton(href='#home') Dr. Pepe
                li
                  a.navButton(href='#whoWeAre') Who We Are
                li
                  a.navButton(href='#whatWeDo') What We Do
                li
                  a.navButton(href='#ourMission') Our Mission
        #shareButton
          img(src='http://www.progressnownm.org/assets_c/2012/03/facebook-share-thumb-100x100-5241.png')
        #pageContent
          include symptomChecker
          != body
          include whoweare
          include whatwedo
          include ourmission
      #footer
        .inner.container-fluid
          .row-fluid
            ul#footerNavs.nav.floatRight
              li.floatLeft
                a.navButton(href='#home') About  /
              li.floatLeft
                a.navButton(href='#whoweare') Disclaimer  /
              li.floatLeft
                a.navButton(href='#whoweare') For Doctors  /
              li.floatLeft
                a.navButton(href='#whoweare') For Investors  /

              &copy; 2012 Dr. Pepe

script(type='text/javascript')
  $(function() {

    //Parallax
    var p = parallax;
    // All the pages in order
    var pages = ['symptomChecker', 'home', 'whoWeAre', 'whatWeDo', 'ourMission'];
    pages.forEach(function(e) {
      p.add(e, $('#' + e + 'Page'));
    })
    function getCurrentPageIndex() {
      return pages.indexOf(p.current.key);
    };
    p.preload = function(thisPage) {
      $('#pageContent').height($($(thisPage.page).children()[0]).outerHeight(true));
      //console.log($(thisPage.page));
      //console.log($($(thisPage.page).children()[0]).outerHeight(true));
    }
    p.home.show();

    // Arrow key navigation
    // 37 - left, 38 - top, 39 - right, 40 - bottom
    $(document).keydown(function(e){
      if (e.keyCode === 39) { //right
        // if not at the far right
        if (getCurrentPageIndex() < (pages.length -1)) {
          var nextPage = pages[getCurrentPageIndex() + 1];
          p[nextPage].right();
        }
      }
      else if (e.keyCode === 37) { //left
        // if not at the far left
        if (getCurrentPageIndex() > 0) {
          var nextPage = pages[getCurrentPageIndex() - 1];
          p[nextPage].left();
        }
      }
    });

    //Before using .last either check to see if it's null
    if(typeof p.last === 'undefined'){
      //handle it here
      }
      //or set it before hand
      p.last = p.homepage;

    // content is positioned absolutely, which messes with layout
    // Have to set height of contents parent div
    // dynamically to ensure footer is at bottom
    $(window).resize(function() {
      $('#pageContent').height($($(p.current.page).children()[0]).outerHeight(true));
      //console.log($($(p.current.page).children()[0]).outerHeight(true));
    })

    var clickedDiv;
    // Resize divs
    $('.bodyImg').click(function(e) {
      clickedDiv = $($(this)[0]);
      var isMale = (clickedDiv.attr('id') === 'maleImg') ? true : false;
      var youChoseText = 'You chose ' + (isMale ? 'Male' : 'Female');
      $('#youChose').html(youChoseText);
      p['symptomChecker'].left();
    });

    $('#bodyImgs').width(
      $($('#maleImg').children()[0]).outerWidth(true) +
      $($('#femaleImg').children()[0]).outerWidth(true));

    // Make tabs active when clicked
    navbarLinks = $(".navbar-inner a");
    function selectOnClick(navLink) {
      navLink.click(function(e) {
        // deselect all others
        navLink.parent().parent().children().removeClass('active');
        // Select this one
        navLink.parent().toggleClass('active');
        // Scroll to the right page
        var navTitle = navLink.attr('href').substring(1)
        if (pages.indexOf(navTitle) < getCurrentPageIndex()) {
          p[navTitle].left();
        } else {
          p[navTitle].right();
        }
      });
    }
    for (var i = 0, l = navbarLinks.length; i < l; i++) {
      selectOnClick($(navbarLinks[i]));
    }
  });
