#symptomCheckerPage.page
  .container
    .row-fluid
      #generalSymptoms.span4
        #generalSymptomsBox
          #youChose
          br
          br
          | Do you have any general symptoms that aren't specific to a body part, like these?
          #generalSymptomsList
            ul
              li
                | No General Symptoms
              li.symptom
                | Chills
              li.symptom
                | Excessive Sweating
              li.symptom
                | Fatigue (tiredness)
        #specificSymptomsBox.jqueryHide
          | Chosen Symptoms:
          ul#chosenSymptoms
      #body.span3
        #bodyImage
        #bodyChest
        #bodyHead
        #bodyArms
      #chosenSymptoms.span5

script(type='text/javascript')
  $(function() {
  });
