#whatWeDoPage.page
  .mainContent
    #welcomeText.row-fluid
      | Hello. We're Dr.Pepe, and this is what we do.
    .row-fluid
      #aboutSymptomChecker.aboutBox.span3
        .upper
          #upperSC
            | Symptom Checker
        .lower
          #lowerSC
            | Description goes here
      #aboutSecondItem.aboutBox.span3
        .upper
          #upperSI
            | Second Item
        .lower
          #lowerSI
            | Description goes here
      #aboutThirdItem.aboutBox.span3
        .upper
          #upperTI
            | Third Item
        .lower
          #lowerTI
            | Description goes here
