#mainContent
  #welcomeText.row-fluid
    | Hello. We're Dr.Pepe, and this is what we do.
  .row-fluid
    #aboutSymptomChecker.aboutBox.span3
      | Symptom Checker
    #aboutSecondItem.aboutBox.span3
      | Second Item
    #aboutThirdItem.aboutBox.span3
      | Other Item
