#whatWeDoPage.page
  .mainContent
    #welcomeText.row-fluid
      | Hello. We're Dr.Pepe, and this is what we do.
    .row-fluid
      #aboutSymptomChecker.aboutBox.span3
        .aboutText
          | Symptom Checker:
          | Feeling sick? Get diagnosis now.
      #aboutSecondItem.aboutBox.span3
        .aboutText
          | Second Item
      #aboutThirdItem.aboutBox.span3
        .aboutText
          | Other Item
